iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul, li {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

ol, ul {
	margin-top: 0;
	margin-bottom: 0px !important;
}

body {
	margin: 0;
	/*	font-family: 'Open Sans', sans-serif; */
	font-family: 'Raleway', sans-serif !important;
    color: #555 !important;
}

a:hover {
	color: #e96443 !important;
	text-decoration: none !important;
	transition: color 0.1s ease;
}

.material-icons {
    font-size: inherit !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

input * {
	outline: none;
}

#sidebar {
	position: absolute;
	left: 0px;
	height: 100vh;
	width: 80px;
	background-color: #fff;
	z-index: 2;
    transition: box-shadow 0.2s ease;
}

#sidebar .logo-cont {
	position: relative;
	width: 60px;
	display: block;
	height: 50px;
	border-radius: 10px;
	background-color: #e1e4e7;
	margin: 20px 10px;
	cursor: pointer;
}

#sidebar .server {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #e1e4e7;
	position: relative;
	display: block;
	margin: 20px 10px;
	cursor: pointer;
}

#sidebar .server::after {
	content: "";
	position: absolute;
	bottom: -11px;
	height: 2px;
	width: 40px;
	left: 10px;
	background-color: #e1e4e7;
}

#sidebar .addNew-btn {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #e1e4e7;
	position: relative;
	display: block;
	margin: 20px 10px;
	cursor: pointer;
}

#sidebar .addNew-btn::after {
	
}

#main-container {
	position: relative;
	height: 100vh;
	background-color: #fff;
	margin-left: 80px;
    background-color: #e1e4e7 !important; /* #eaecee */
}

#main-container .cu-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 130px;
	z-index: 2;
}

#main-container .cu-footer .profile-ico-container {
	height: 100%;
	width: 120px;
	left: 0px;
	position: absolute;
}

#main-container .cu-footer .profile-ico {
	position: relative;
	height: 54px;
	width: 54px;
	border-radius: 50%;
	background-color: #fff;
	margin: auto;
	top: 33px;
	cursor: pointer;
    transition: border 0.2s ease;
    font-size: 54px;
    color: #555;
}

#main-container .cu-footer .profile-ico i {
    position: relative;
    left: 0px;
    top: 0px;
}

#main-container .cu-footer .inp-section {
	height: 100%;
}

#main-container .cu-footer .inp-section .status {
    position: absolute;
    font-size: 12px;
    top: -15px;
    left: 10px;
}


#main-container .cu-footer .inp-section .msg-input {
	display: block;
	margin: 0px 50px 0px 120px;
	height: 54px;
	position: relative;
	top: 33px;
	background-color: #fff;
	border-radius: 10px;
}

#main-container .cu-footer .inp-section .msg-input input {
	height: 100%;
	width: 100%;
	padding: 0px 50px 0px 12px;
	border: none;
    background: none;
	float: left;
}

#main-container .cu-footer .inp-section .msg-input .send-btn {
	height: 100%;
    background: none;
	border: none;
	cursor: pointer;
    text-align: right;
    padding-right: 15px;
    position: absolute;
    z-index: 3;
    right: 0px;
    font-size: 24px;
}

button::-moz-focus-inner, button:active, button:focus { 
    border: 0; 
    outline: none;
}

#main-container .chat-section {
	width: 100%;
	height: 100%;
    overflow-y: scroll;
}

#main-container .chat-section .chat {
	padding: 15px 0px 130px 0px;
	
}

.chat-section .msg-cont {
	/*padding-top: 15px;
	margin-bottom: 10px;
    margin-right: 50%;
	margin-left: 0px;*/
	display: block;
	position: relative;
    overflow: hidden;
}

.chat-section .msg-cont .user-change {
	height: 15px;
	font-size: 10px;
	padding: 0px 30px;
    text-align: left;
}

.chat-section .msg-cont.mine .user-change {
    text-align: right;
}

.chat-section .msg-cont.mine {
	/*margin-left	: 50%;
	margin-right: 0px;*/
}

.chat-section .msg-cont .user-msg {
	background: #fff;
	min-width: 50px;
	border-radius: 10px;
	position: relative;
	margin-bottom: 8px;
	margin-left: 25px;
    margin-right: 25px;
    float: left;
}

.chat-section .msg-cont.mine .user-msg {
    float: right;
}

.chat-section .msg-cont .notification {
    position: relative;
    font-size: 12px;
    padding: 4px;
    border-radius: 6px;
    /*background-color: #fff;
    min-width: 240px;
    width: 20%;*/
    margin: 12px auto 4px auto;
    text-align: center;
    
}

.chat-section .msg-cont .user-name {
	position: absolute;
	font-size: 10px;
	top: 2px;
	left: 30px;
	color: #888;
	user-select: none;
}

.chat-section .msg-cont .user-msg .time {
	position: absolute;
	font-size: 9px;
	top: 3px;
	right: 10px;
	color: #888;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.chat-section .msg-cont .user-msg .text {
    width: 90%%;
    position: relative;
	padding: 15px;
	font-size: 13px;	
    padding-right: 25px;
}

.chat-section .msg-cont.mine .user-msg .text {
    padding: 15px;
    padding-left: 25px;
}









