iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul, li {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

ol, ul {
	margin-top: 0;
	margin-bottom: 0px !important;
}

body {
	margin: 0;
	/*	font-family: 'Open Sans', sans-serif; */
	font-family: 'Raleway', sans-serif !important;
    color: #555 !important;
}

a:hover {
	color: #e96443 !important;
	text-decoration: none !important;
	transition: color 0.1s ease;
}

.material-icons {
    font-size: inherit !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

input * {
	outline: none;
}

.clearfix {
	clear: both;
}

#sidebar {
	position: absolute;
	left: 0px;
	height: 100vh;
	width: 80px;
	background-color: #555;
	z-index: 10;
    transition: width 0.3s ease;
	box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.3);
	color: #eee;
}

#sidebar.open {
	width: 230px;
	padding: 0 20px;
}

#sidebar .logo-cont {
	position: relative;
	display: block;
	height: 50px;
	border-radius: 10px;
	background-color: #eee;
	margin: 20px 10px 12px 10px;
	cursor: pointer;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

#sidebar .logo-cont::after {
	content: "";
	position: absolute;
	bottom: -11px;
	height: 2px;
	width: 40px;
	left: 10px;
	background-color: #e1e4e7;
	transition: all 0.2s ease;
}

#sidebar.open .logo-cont::after {
	width: 190px;
}

#sidebar .server {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #eee;
	position: relative;
	margin: 10px 10px;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
	float: left;
}

#sidebar .server-name {
	padding-top: 25px;
	float: left;
	width: 130px;
}

#sidebar .server-users {
	float: left;
	width: 130px;
}

#sidebar .server-cont:hover .server, #sidebar .logo-cont:hover, #sidebar .addNew-btn:hover {
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#sidebar .server-cont {
	position: relative;
	font-size: 13px;
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 80px;
	overflow: hidden;
}

#sidebar .server-cont::after {
	content: "";
	position: absolute;
	bottom: 0px;
	height: 2px;
	width: 40px;
	left: 20px;
	background-color: #e1e4e7;
	transition: all 0.2s ease;
}

#sidebar.open .server-cont::after {
	width: 190px;
}

#sidebar .server-cont .notifications {
	position: absolute;
	top: 50px;
	left: 52px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: lightcoral;
	text-align: center;
	line-height: 16px;
	color: #eee;
	font-size: 13px;
}

#sidebar .addNew-btn {
	height: 60px;
	border-radius: 30px;
	background-color: #eee;
	position: relative;
	display: block;
	margin: 10px 10px;
	cursor: pointer;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
	color: #555;
	font-size: 46px;
	text-align: center;
	transition: all 0.2s ease;
}

#sidebar.open .addNew-btn {
	height: 40px;
	font-size: 26px;
}

#sidebar .addNew-btn > * {
	padding: 7px;
}

#sidebar .addNew-btn::after {
	
}

#main-container {
	position: relative;
	height: 100vh;
	margin-left: 80px;
    /*background-color: #e1e4e7 !important;*/ /* #eaecee */
	background-color: transparent;
	background-image: url("/tile.gif");
	background-repeat: repeat;
	background-attachment: scroll;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	overflow: hidden;
}

#main-container .cu-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 120px;
	z-index: 3;
}

#main-container .cu-footer .profile-ico-container {
	height: 100%;
	width: 120px;
	left: 0px;
	position: absolute;
}

#main-container .cu-footer .profile-ico {
	position: relative;
	height: 54px;
	width: 54px;
	border-radius: 50%;
	background-color: #eee;
	margin: auto;
	top: 50px;
	cursor: pointer;
	transition: border 0.2s ease;
	font-size: 54px;
	color: #555;
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

#main-container .cu-footer .profile-ico img {
	width: 54px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#main-container .cu-footer .profile-ico i {
    position: relative;
    left: 0px;
    top: 0px;
}

#main-container .cu-footer .inp-section {
	height: 100%;
	/*width: 100%;*/
	transition: width 0.3s ease;
	margin-right: 250px;
}

#main-container .cu-footer .inp-section .status {
    position: absolute;
    font-size: 12px;
    top: -15px;
    left: 10px;
}


#main-container .cu-footer .inp-section .msg-input {
    display: block;
	margin: 0px 55px 0px 120px;
	height: 120px;
	position: relative;
	background-color: #555;
	border-top-right-radius: 10px;
	color: #eee;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
	border-top-left-radius: 10px;
	top: 40px;
	font-size: 20px;
	transition: all 0.2s ease;
}

#main-container .cu-footer .inp-section .msg-input.open {
	top: 0px;
}

#main-container .cu-footer .inp-section .msg-input > i {
	line-height: 33px;
	width: 36px;
	text-align: center;
	color: #aaa;
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: right;
}

#main-container .cu-footer .inp-section .msg-input > i:first-of-type {
	margin-right: 20px;
}

#main-container .cu-footer .inp-section .msg-input .user-options {
	width: 100%;
	height: 40px;
	float: right;
}
	
#main-container .cu-footer .inp-section .msg-input .user-options > div {
	width: 100px;
	float: left;
	height: 100%;
	text-align: center;
	cursor: pointer;
}

.user-options .label {
	font-size: 12px;
	float: left;
	height: 40px;
	line-height: 40px;
}

#main-container .cu-footer .inp-section .msg-input .user-options i {
	padding: 10px 2px 10px 12px;
	font-size: 20px;
	float: left;
}

#main-container .cu-footer .inp-section .msg-input::after {
	content: "";
    width: 96%;
    height: 2px;
    background-color: #666;
    position: absolute;
    left: 0;
    top: 44px;
    right: 0;
    margin: auto;
}

#main-container .cu-footer .inp-section .msg-input input {
	height: 46px;
	width: 100%;
	padding: 0px 50px 0px 20px;
	border: none;
    background: none;
	float: left;
	color: #eee;
}

#main-container .cu-footer .inp-section .msg-input .send-btn {
	height: 46px;
    background: none;
	border: none;
	cursor: pointer;
    text-align: right;
    padding-right: 15px;
    position: absolute;
    z-index: 3;
    right: 0px;
    font-size: 24px;
	color: #eee;
}

#main-container .member-list {
	position: absolute;
	width: 250px;
	height: 100%;
	background-color: #555;
	right: 0px;
	top: 0px;
	color: #eee;
	z-index: 5;
	transition: all 0.35s ease;
	box-shadow: -3px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

#main-container .member-list.open {
	width: 100%;
}

#main-container .member-list > * {
	position: relative;
	width: 80%;
	margin: auto;
	padding-top: 25px;
}

#main-container .member-list .header {
	font-size: 17px;
	position: relative;
	padding-bottom: 8px;
	
}

#main-container .member-list .header::after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #666;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#main-container .member-list .user {
	width: 100%;
	height: 60px;
	display: block;
	position: relative;
	cursor: pointer;
}

#main-container .member-list .user .user-image {
	height: 40px;
	width: 40px;
	margin: 10px 10px 10px 0px;
	background-color: #eee;
	border-radius: 50%;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
	float: left;
	overflow: hidden;
}

#main-container .member-list .user .user-image img {
	width: 40px;
}

#main-container .member-list .user .user-name {
	width: 150px;
	float: left;
	padding-top: 13px;
	font-size: 16px;
	padding-bottom: 3px;
}

#main-container .member-list .user .user-status {
	font-size: 10px;
	width: 150px;
	float: left;
}

#main-container .member-list .profile {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
}

#main-container .member-list .profile .close-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 390px;
	width: 50px;
	color: #555;
	font-size: 50px;
	cursor: pointer;
	transition: all 0.3s ease;
}

#main-container .member-list .profile .close-btn:hover {
	color: #eee;
}

#main-container .member-list .profile .close-btn > i {
	margin: 170px 0px;
}

#main-container .member-list .profile .pf-container {
	content: "";
	height: 60%;
	width: 100%;
	position: absolute;
	top: 20%;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.6);
	min-height: 390px;
}

#main-container .member-list .profile .user-image {
	width: 300px;
	height: 300px;
	border-radius: 10px;
	background-color: #eee;
	position: absolute;
	right: 70px;
	top: -70px;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

button::-moz-focus-inner, button:active, button:focus { 
    border: 0; 
    outline: none;
}

#main-container .chat-section {
	/*width: 100%;*/
	height: 100%;
	transition: width 0.3s ease;
	margin-right: 250px;
	position: relative;
}

#main-container .chat-section .chat-cont {
	height: 100%;
    overflow-y: scroll;
}

#main-container .chat-section .chat-cont.open {
	
}

#main-container .chat-section .chat-cont.open .chat {
	padding-top: 65px;
}

#main-container .chat-section .chat {
	padding: 15px 0px 130px 0px;
	position: relative;	
	transition: all 0.2s ease;
}

#main-container .chat-section .chat {
}

.chat-section .msg-cont {
	/*padding-top: 15px;
	margin-bottom: 10px;*/
    padding-right: 0;
	padding-left: 80px;
	display: block;
	position: relative;
    overflow: hidden;
}

.chat-section .msg-cont .user-change {
	height: 15px;
	font-size: 10px;
	padding: 0px 30px;
    text-align: left;
}

.chat-section .msg-cont.mine .user-change {
    text-align: right;
}

.chat-section .msg-cont.mine {
	padding-left	: 0;
	padding-right: 20px;
}

.chat-section .msg-cont .user-msg {
	background: #fff;
	min-width: 50px;
	border-radius: 10px;
	position: relative;
	margin-bottom: 8px;
	margin-left: 25px;
    margin-right: 25px;
    float: left;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
	max-width: 550px;
	cursor: pointer;
	z-index: 2;
	transition: all 0.2s ease;
	color: #222;
}

.chat-section .msg-cont .user-msg.selected {
	background-color: #555 !important;
	color: #eee !important;
}

.chat-section .msg-cont .user-msg.image {
	width: 400px;
	height: 400px;
}

.chat-section .msg-cont .user-msg.image img {
	width: 380px;
	height: 360px;
	position: relative;
	left: 10px;
	top: 25px;
}

.chat-section .msg-prop {
	width: 98%;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 20px;
	margin: auto;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #555;
	color: #eee;
	z-index: 3;
	padding-right: 2%;
}

.chat-section .msg-prop .elem {
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: right;
	width: 100px;
	text-align: center;
	font-size: 18px;
}

.chat-section .msg-prop .close-btn {
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 40px;
	text-align: center;
	float: right;
	font-size: 18px;
}

.chat-section .msg-prop .close-btn i {
	padding: 16px 0px;
}
	
.chat-section .msg-prop .elem > i {
	padding: 16px 20px 15px 3px;
	float: right;
}

.chat-section .msg-prop .elem .label {
	float: right;
	font-size: 12px;
	text-align: right;
	height: 50px;
	line-height: 50px;
}

.chat-section .msg-cont.mine .user-msg {
    float: right;
	background-color: #eee;
}

.chat-section .msg-cont .notification {
    position: relative;
    font-size: 12px;
    padding: 4px;
    border-radius: 6px;
    /*background-color: #eee;
    min-width: 240px;
    width: 20%;*/
    margin: 12px auto 4px auto;
    text-align: center;
    
}

.chat-section .msg-cont .user-name {
	position: absolute;
	font-size: 10px;
	top: 2px;
	left: 30px;
	color: #888;
	user-select: none;
}

.chat-section .msg-cont .user-msg .time {
	position: absolute;
	font-size: 9px;
	top: 3px;
	right: 10px;
	color: #888;
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.chat-section .msg-cont.mine .user-msg .time {
	left: 10px;
}

.chat-section .msg-cont .user-msg .text {
    position: relative;
	padding: 15px;
	font-size: 13px;	
    padding-right: 30px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap; 
	word-wrap: break-word;
}

.chat-section .msg-cont.mine .user-msg .text {
    padding: 15px;
    padding-left: 30px;
}

.chat-section .msg-cont .user-img {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #555;
	left: 30px;
	top: 12px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.chat-section .msg-cont .user-img img {
	width: 50px;
}

.preLoader {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #222;
	text-align: center;
	z-index: 100;
}

.preLoader .content {
	position: absolute;
	top: 45%;
	margin: auto;
	color: #aaa;
	font-size: 70px;
	left: 0px;
	right: 0px;
}






/* vue */ 

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
	border-radius: 6px;
	color: #777;
	text-align: center;
	overflow: hidden;
}

.modal-header {
	padding: 0 30px;
	width: 260px;
	text-transform: uppercase;
	padding-top: 20px;
}

.modal-body {
  	margin: 20px 0;
	padding: 0 30px;
	width: 260px;
}

.modal-body input {
	border: none;
	border-bottom: 1px solid #777;
	width: 260px;
	height: 40px;
	padding-top: 10px;
}

.modal-footer {
	padding: 0 30px;
	width: 260px;
}

.modal-footer button {
  	width: 46%;
	height: 36px;
	border: 2px solid #777;
	font-weight: 700;
	float: left;
	margin: 0 2%;
	cursor: pointer;
	border-radius: 6px;
	transition: all 0.2s ease;
	background: none;
}

.modal-footer button:hover {
	color: #fff;
	border-color: #555;
	background-color: #555;
	box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.modal-footer .modal-ok-button {
	
}

.modal-footer .modal-cancel-button {
	
}

.modal-image {
	float: right;
	width: 180px;
	overflow: hidden;
}

.modal-image img {
	position: relative;
	left: -55px;
}



.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.slideUp-enter-active, .slideUp-leave-active {
	transition: all 0.4s;
	
}
.slideUp-enter, .slideUp-leave-to {
	opacity: 0;
	transform: translateY(20px);
}

.prop-slide-enter-active, .prop-slide-leave-active {
	transition: all 0.2s ease;
	
}
.prop-slide-enter, .prop-slide-leave-to {
	opacity: 0;
	transform: translateY(-15px);
}

.msg-in-enter-active, .msg-in-leave-active {
  transition: all .15s;
}
.msg-in-enter, .msg-in-leave-to {
  opacity: 0;
}

.memberListSlide-enter-active, .memberListSlide-leave-active {
  transition: all .2s;
}
.memberListSlide-enter, .memberListSlide-leave-to {
	opacity: .0;
	transform: translateX(40px);
}




