<html lang="en">

<head>
	<title>chat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--styles-->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="js/jquery.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script src="/socket.io/socket.io.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

</head>

<body class="">
	<div id="app1">
		<transition name="fade">
			<div v-if="preLoad" class="preLoader">
				<div class="content">{"loaded": "{{loaded}}%"}</div>
			</div>
		</transition>
		<transition name="sidebarSlide">
			<div id="sidebar" v-bind:class="{ open: startApp }">
				<div class="logo-cont" @click="startApp = true"></div>
				<div class="server-cont" v-for="(conv, index) in convs" :key="conv._id" :title="conv._id" @click="openChat(conv._id);showProfile = false;">
					<div class="server"></div>
					<div v-if="startApp" class="server-name"><i class="material-icons" style="padding: 1px 4px 1px 0px; float: left;">group</i>{{ conv.name }}</div>
					<div v-if="startApp" class="server-users">{{ conv.members.length }} members</div>
					<!--<transition name="fade">-->
					<div class="notifications" v-show="conv.notification">{{ conv.notification }}</div>
					<!--</transition>-->
					<div class="clearfix"></div>
				</div>
				<div class="addNew-btn" @click="showNewChatModal = true"><i class="material-icons">add</i></div>
				<!--<button id="show-modal" >Show Modal</button>-->
				<!-- use the modal component, pass in the prop -->
				<modal v-if="showNewChatModal" @close="showNewChatModal = false">
					<div slot="header">Create new chat</div>
					<div slot="body">
						Enter a name for the chatroom:
						<input id="convNameInp" type="text" placeholder="ex. name">
					</div>
					<div slot="footer">
						<button class="modal-ok-button" @click="createConv">Create</button>
						<button class="modal-cancel-button" @click="showNewChatModal = false">Cancel</button>
						<div class="clearfix"></div>
					</div>
					<img slot="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlKr7pHvwA9ytIY707rewhSTorl1ATf0DYgjWvuad755ev6Pjv">
				</modal>
			</div>
		</transition>
		<div id="main-container">
			<transition name="slideUp">
				<div v-if="!startApp" class="cu-footer">
					<div class="profile-ico-container">
						<div class="profile-ico" @click="userOptions = !userOptions"><i class="fa fa-user-circle-o"></i>
							<img :src="userDetail.picture">
						</div>
					</div>
					<div class="inp-section">
						<div class="msg-input" v-bind:class="{ open: userOptions }">
							<div class="status"></div>
							<input type="text" placeholder="Write a message...">
							<button type="button" class="send-btn" v-on:click="sendMessage"><i class="material-icons">send</i></button>
							<i class="material-icons">keyboard_voice</i>
							<i class="material-icons" @click="addImgToMsg">add_a_photo</i>
							<i class="material-icons">attachment</i>
							<div class="user-options">
								<div class="logout" @click="signout">
									<i class="material-icons">exit_to_app</i>
									<div class="label">Signout</div>
								</div>
								<div class="settings">
									<i class="material-icons">settings</i>
									<div class="label">Settings</div>
								</div>
								<div class="change-status">
									<div class="label">Away</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</transition>
			<div v-if="!startApp" class="chat-section">
				<transition name="prop-slide">
					<div class="msg-prop" v-show="selectedMsgsCount > 0">
						<div class="close-btn" @click="deselectAll">
							<i class="material-icons">close</i>
						</div>
						<div class="elem" style="width: 140px;">
							<div class="label">
								selected messages&nbsp;<span style="font-size: 14px;padding: 0px 3px;font-weight: 700;">{{ selectedMsgsCount }}</span>
							</div>
						</div>
						<div class="elem">
							<i class="material-icons">edit</i>
							<div class="label">Edit</div>
						</div>
						<div class="elem">
							<i class="material-icons">delete</i>
							<div class="label">Delete</div>
						</div>
						<div class="elem">
							<i class="material-icons">forward</i>
							<div class="label">Forward</div>
						</div>
						<div class="elem">
							<i class="material-icons">content_copy</i>
							<div class="label">Copy</div>
						</div>

					</div>
				</transition>
				<div class="chat-cont" v-bind:class="{ open: selectedMsgsCount }">
					<div class="chat">
						<transition-group name="msg-in" mode="out-in">
							<div v-if="!hideChat" class="msg-cont" v-for="(message, index) in msgs" v-bind:class="{ mine: message.from == userDetail.id}" :key="message._id">
								<div class="notification" v-if="message.msgType == 'notification'">{{ message.text }}</div>
								<div class="user-change" v-if="userChange(message.queueNumber, message.conversationID) && message.msgType == 'message'">{{ getUsername(message.from) }}</div>
								<div class="user-img" v-if="userChange(message.queueNumber, message.conversationID) && message.from != userDetail.id && message.msgType != 'notification'" @click="showProfile = !showProfile; profileID = message.from;"><img :src="getUserImage(message.from)"></div>
								<div class="user-msg" v-if="message.msgType == 'message'" @click="message.selected = !message.selected" v-bind:class="{ selected: message.selected }">
									<div class="time">{{ message.date.match(/\d\d:.+(?=\:)/g)[0] }}</div>
									<div class="text">{{ message.text }}</div>
								</div>
								<div class="user-msg image" v-if="message.msgType == 'image'" @click="message.selected = !message.selected" v-bind:class="{ selected: message.selected }">
									<div class="time">{{ message.date.match(/\d\d:.+(?=\:)/g)[0] }}</div>
									<img :src="message.text">
								</div>

							</div>
						</transition-group>
					</div>
				</div>
			</div>
			<transition name="memberListSlide">
				<div class="member-list" v-if="!startApp" v-bind:class="{ open: showProfile }">
					<div class="online" v-if="!showProfile && onlineUsers.length">
						<div class="header">online-{{ onlineUsers.length }}</div>
						<transition-group name="fade">
							<div class="user" v-for="user in onlineUsers" @click="showProfile = !showProfile; profileID = user.id;" :key="user.id">
								<div class="user-image"><img :src="user.picture"></div>
								<span style="float:left;width:130px;">
									<div class="user-name">{{ user.name }}</div>
									<div class="user-status">{{ user.online ? 'online' : 'offline' }}</div>
								</span>
							</div>
						</transition-group>
					</div>
					<div class="offline" v-if="!showProfile && offlineUsers.length">
						<div class="header">offline-{{ offlineUsers.length }}</div>
						<transition-group name="fade">
							<div class="user" v-for="user in offlineUsers" @click="showProfile = !showProfile; profileID = user.id;" :key="user.id">
								<div class="user-image"><img :src="user.picture"></div>
								<span style="float:left;width:130px;">
									<div class="user-name">{{ user.name }}</div>
									<div class="user-status">{{ user.online ? 'online' : 'offline' }}</div>
								</span>
							</div>
						</transition-group>
					</div>


					<transition name="fade">
						<div class="profile" v-if="showProfile">
							<div class="pf-container">
								<div class="user-image"><img :src="getProfile(profileID).picture"></div>
								<div class="close-btn" @click="showProfile = false;"><i class="material-icons">keyboard_arrow_right</i></div>
							</div>
						</div>
					</transition>
				</div>
			</transition>
		</div>
	</div>
	<script type="text/javascript">
		var connected = false;
		var typing = false;

		var socket = io();

		Vue.component('modal', {
			template: '#modal-template'
		});

		$(document).keypress(function(e) {
			if (e.which == 13) {
				if ($(".msg-input input").is(":focus")) {
					if ($(".msg-input input").val().length) {
						app.sendMessage();
					}
				}
			}
		});

		var app = new Vue({
			el: '#app1',
			data: {
				msgs: [],
				selectedMsgsCount: 0,
				users: [],
				userData: [],
				onlineUsers: [],
				offlineUsers: [],
				convs: [],
				userDetail: {
					name: "",
					id: ""
				},
				showNewChatModal: false,
				startApp: true,
				preLoad: false,
				loaded: 0,
				openedChat: "",
				userOptions: false,
				showProfile: false,
				profileID: "",
				hideChat: false,

			},
			watch: {
				userData: function() {
					this.onlineUsers = _.where(this.userData, {
						online: true
					});
					this.offlineUsers = _.where(this.userData, {
						online: false
					});
				},
				msgs: {
					handler: function(val, oldVal) {
						//console.log(val);
						var temp = _.where(val, {
							msgType: 'message'
						});
						this.selectedMsgsCount = _.countBy(temp, function(elem) {
							return elem.selected;
						}).true;
						if (this.selectedMsgsCount == undefined)
							this.selectedMsgsCount = 0;
					},
					deep: true,
				},
				preLoad: function(val) {
					if (val) {
						var cuTimer = setInterval(function() {
							//console.log('loaded: ' + app.loaded);
							app.loaded += 1;
							if (app.loaded > 99) {
								clearInterval(cuTimer);
								app.preLoad = false;
								app.startApp = true;
							}
						}, 30);
					}
				},
				showProfile: function(val) {
					if(!val)
						this.profileID = "";
				}
			},
			beforeMount() {
				//this.preLoad = true;
			},
			methods: {
				changeStatus: function(data) {
					var message = '';
					if (data.numUsers === 1) {
						message += "1 member online";
					} else if (data.numUsers > 1) {
						message += data.numUsers + " members online";
					} else {
						message = '';
					}
					$(".inp-section .status").text(message);
				},
				changeOnline: function(data) {
					if (data) {
						$("#sidebar").css("box-shadow", "1px 0px 4px 0px greenyellow");
					} else {
						$("#sidebar").css("box-shadow", "1px 0px 4px 0px red");
					}
				},
				sendMessage: function() {
					var msgText = $(".msg-input input").val();
					var msgType = 'message';
					if (msgText) {
						$(".msg-input input").val("");
						$(".msg-input input").focus();
						if (msgText.match(/\:img\:$/g)) {
							msgText = msgText.match(/.+(?=\:.*\:)/g)[0];
							//console.log(msgText);
							msgType = 'image';
						}
						var request = $.ajax({
							url: '/api/msgs',
							type: 'POST',
							data: {
								conversationID: app.openedChat,
								text: msgText,
								'msgType': msgType
							},
						}).done(function(msg) {
							if (msg.message == 'done') {
								app.fetchMessages(app.openedChat);
							}
						}).fail(function(jqXHR, textStatus) {
							//console.log(jqXHR);
							console.log(textStatus);
						});
					}
				},
				fetchConversations: function() {
					var request = $.ajax({
						url: '/api/convs',
						type: 'GET',
					}).done(function(msg) {
						if (msg.message == 'done') {
							msg.data.forEach(function(elem) {
								elem.notification = 0;

								socket.emit('join room', {
									'chatID': elem._id
								});
							});
							app.convs = msg.data;
							console.log(app.convs);
						}
					}).fail(function(jqXHR, textStatus) {
						//console.log(jqXHR);
						console.log(textStatus);
					});
				},
				fetchMessages: function(convID, next) {
					if (convID != app.openedChat)
						app.msgs = [];
					var request = $.ajax({
						url: '/api/msgs/' + convID,
						type: 'GET',
					}).done(function(msg) {
						if (msg.message == 'done') {
							msg.data.forEach(function(elem) {
								elem.selected = false;
							});
							app.msgs = msg.data;
							app.chatScrollBottom(true);
							if (next)
								next();
						}
					}).fail(function(jqXHR, textStatus) {
						//console.log(jqXHR);
						console.log(textStatus);
					});
				},
				openChat: function(chatID) {
					this.getUser();
					this.hideChat = true;
					/*socket.emit('join room', {
						'chatID': chatID
					});*/

					_.findWhere(app.convs, {
						_id: chatID
					}).notification = 0;

					//this.startApp = false;
					this.openedChat = chatID;
					//console.log(chatID);
					this.fetchMessages(chatID, function() {
						app.fetchUsernames(function() {
							//console.log('loaded');
							//var scrollElem = $('.chat-cont');
							app.chatScrollBottom(true);
						});
					});
				},
				getUser: function() {
					var request = $.ajax({
						url: '/api/user/',
						type: 'GET',
					}).done(function(msg) {
						if (msg.message == 'done') {
							app.userDetail.name = msg.data.name;
							app.userDetail.id = msg.data.id;
							app.userDetail.picture = msg.data.picture;
							//console.log(app.userDetail);
						}
					}).fail(function(jqXHR, textStatus) {
						//console.log(jqXHR);
						console.log(textStatus);
					});
				},
				createConv: function() {
					var convName = $("input#convNameInp").val();
					if (convName) {
						var request = $.ajax({
							url: '/api/convs',
							type: 'POST',
							data: {
								name: convName,
							},
						}).done(function(msg) {
							console.log(msg.message);
							if (msg.message == 'done') {
								app.fetchConversations();
								app.showNewChatModal = false;
							}
						}).fail(function(jqXHR, textStatus) {
							//console.log(jqXHR);
							console.log(textStatus);
						});
					}
				},
				userChange: function(queue, convID) {
					if (queue < 1) {
						return false;
					} else {
						var firstMsg = _.findWhere(this.msgs, {
							conversationID: convID,
							queueNumber: queue
						});
						var tempOffset = 1;
						var secondMsg;
						while (secondMsg == undefined) {
							secondMsg = _.findWhere(this.msgs, {
								conversationID: convID,
								queueNumber: (queue - tempOffset)
							});
							tempOffset += 1;
						}

						if (firstMsg.from == secondMsg.from) {
							return false;
						} else {
							return true;
						}
					}
				},
				fetchUsernames: function(next) {
					var temp = [];
					this.msgs.forEach(function(elem) {
						temp.push(elem.from);
					});
					temp = _.without(temp, undefined);
					temp = _.uniq(temp);

					var request = $.ajax({
						url: '/api/conv_users/' + app.msgs[0].conversationID,
						type: 'GET',
					}).done(function(msg) {
						if (msg.message == 'done') {
							//console.log(temp);
							msg.data.forEach(function(elem) {
								temp.push(elem);
							});

							if (temp.length) {
								var request2 = $.ajax({
									url: '/api/userdata',
									type: 'POST',
									data: {
										"users": temp
									},
								}).done(function(msg2) {
									if (msg2.message == 'done') {
										app.userData = [];
										msg2.data.forEach(function(elem) {
											app.userData.push({
												id: elem.local.auth_id,
												name: elem.local.name,
												online: elem.local.online,
												picture: elem.local.picture
											});
										});
										//console.log(app.getUsername('5a9b85d5955e3222af132ed1'));
										setTimeout(function() {
											app.startApp = false;
											app.hideChat = false;
											//console.log(app.getProfile('google-oauth2|101149272805410177076'));
											if (next)
												next();
										}, 200);

									}
								}).fail(function(jqXHR, textStatus) {
									//console.log(jqXHR);
									console.log(textStatus);
								});
							} else {
								console.log('no users');
								setTimeout(function() {
									app.startApp = false;
									app.hideChat = false;
									if (next)
										next();
								}, 200);
							}
						}
					}).fail(function(jqXHR, textStatus) {
						//console.log(jqXHR);
						console.log(textStatus);
					});
				},
				getUsername: function(userID) {
					var temp;
					temp = _.findWhere(this.userData, {
						id: userID
					});
					if (temp != undefined)
						return temp.name;
					else
						return userID;
				},
				getUserImage: function(userID) {
					var temp;
					temp = _.findWhere(this.userData, {
						id: userID
					});
					if (temp != undefined)
						return temp.picture;
					else
						return userID;
				},
				signout: function() {
					var request = $.ajax({
						url: '/api/signout',
						type: 'GET',
					}).done(function(msg) {
						if (msg.message == 'done') {
							window.location.replace("/login");
						}
					}).fail(function(jqXHR, textStatus) {
						//console.log(jqXHR);
						console.log(textStatus);
					});
				},
				deselectAll: function() {
					if (this.msgs) {
						this.msgs.forEach(function(elem) {
							elem.selected = false;
						});
						this.selectedMsgsCount = 0;
					}
				},
				chatScrollBottom: function(data) {
					if (data) {
						setTimeout(function() {
							$('.chat-cont').scrollTop($('.chat-cont').prop("scrollHeight"));
						}, 20);
					} else {
						$('.chat-cont').animate({
							scrollTop: $('.chat-cont').prop("scrollHeight")
						}, 700);
					}
				},
				addImgToMsg: function() {
					var temp = $(".msg-input input").val();
					temp += ':img:';
					$(".msg-input input").val(temp);
				},
				getProfile: function(data) {
					if(!data)
						return false;
					var temp = _.findWhere(app.userData, {
						id: data
					});
					return temp;
				},
			},
		});

		app.fetchConversations();


		socket.on('login', function() {
			connected = true;
			app.changeOnline(true);
		});

		socket.on('refresh chat', function(data) {
			if (data) {
				console.log(data);
				if (data.convID != app.openedChat) {
					_.findWhere(app.convs, {
						_id: data.convID
					}).notification += 1;
				}
			}
			if (app.openedChat) {
				//app.fetchConversations();
				app.fetchMessages(app.openedChat, function() {
					app.fetchUsernames(function() {
						//console.log('loaded');
					});
				});
			} else {
				console.log("no chats open yet");
			}

		})

		socket.on('disconnect', function() {
			connected = false;
			app.changeOnline(false);
			app.userData.forEach(function(elem) {
				elem.online = false;
			});
		});

		socket.on('reconnect', function() {
			app.fetchMessages(app.openedChat, function() {
				app.fetchUsernames(function() {
					//console.log('loaded');
				});
			});
		});

		socket.on('reconnect_error', function() {

		});

	</script>

	<!-- template for the modal component -->
	<script type="text/x-template" id="modal-template">
		<transition name="modal">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container">
						<div style="float: left;">
							<div class="modal-header">
								<slot name="header">
									default header
								</slot>
							</div>

							<div class="modal-body">
								<slot name="body">
									default body
								</slot>
							</div>

							<div class="modal-footer">
								<slot name="footer">
									<button class="modal-ok-button">Create</button>
									<button class="modal-cancel-button" @click="$emit('close')">Cancel</button>
									<div class="clearfix"></div>
								</slot>
							</div>
						</div>
						<div class="modal-image">
							<slot name="image"></slot>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</transition>
	</script>
</body>

</html>
