<html lang="en">

<head>
    <title>todo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--styles-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

</head>

<body class="">

    <div id="app1">
        <input type="text">
        <button v-on:click="pushNew">Add</button>
        <ol>
            <li v-for="todo in todos">
                <button v-if="todo.editable" v-on:click="editElem">&#x2714;</button> 
                <button v-else v-on:click="deleteElem">&#x2718;</button> 
                
                <input v-if="todo.editable" v-model="todo.text" type="text">
                <div v-else v-on:click="editElem" class="desc">{{ todo.text }}</div>
                
                <i v-bind:class="{ active: todo.done }" v-on:click="doElem" class="status">done!</i>
            </li>
        </ol>
    </div>



    <script type="text/javascript">

        var app = new Vue({
            el: '#app1',
            data: {
                todos: [
                    {text: 'Learn JavaScript', editable: false, done: false},
                    {text: 'Learn Vue', editable: false, done: false},
                    {text: 'Build something awesome', editable: false, done: false}
                ]
            },
            methods: {
                pushNew: function() {
                    var desc = $("#app1 input").val();
                    if (desc != '') {
                        app.todos.push({
                            text: desc,
                            editable: false,
                            done: false
                        });
                    } else {
                        alert("text field cant be empty");
                    }

                },
                deleteElem: function(event) {
                    if (event) {
                        var parentIndex = $("li").index( event.target.closest("li") );
                        this.todos.splice(parentIndex, 1);
                    }
                },
                editElem: function(event) {
                    if (event) {
                        var parentIndex = $("li").index( event.target.closest("li") );
                        //console.log(parentIndex);
                        if(this.todos[parentIndex].editable){
                            this.todos[parentIndex].editable = false;
                        } else {
                            this.todos[parentIndex].editable = true;
                        }
                    }
                },
                doElem: function(event) {
                    if (event) {
                        var parentIndex = $("li").index( event.target.closest("li") );
                        if(this.todos[parentIndex].done){
                            this.todos[parentIndex].done = false;
                        } else {
                            this.todos[parentIndex].done = true;
                        }
                    }
                }
            }
        })

    </script>
</body>

</html>
